@import url(page2.html);
figure{
 
    background: white;
    float:center;
    width:30%;
    text-align: center;
    font-style: italic;
    text-indent: 0;
    border:thin silver solid;
    margin: auto;
    padding: 0.5em;
}
.app{
    color:brown;
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
     figure{
  padding: 20%;
  margin:auto;
  text-align: center;
  width: 50%;
    }

   }


   @media (max-width: 280px) {
    figure{
        
        width:50%;
    }
    
    }